@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
  margin: auto;
  width: 400px;
  font-family: 'Source Sans Pro';
  background-color: #2c2b30;
  color: #2c2b30;
}

#wrapper {
  margin: auto;
  margin-top: 100px;
  position: relative;
  width: 400px;
  border: 5px solid #dee2e6;
  background-color: #fff;
  border-radius: 8px;
  padding-bottom: 50px;
  padding-top: 50px;
}

h1 {
  margin: auto;
  text-align: center;
}

#sign-in {
  margin: auto;
  position: relative;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
  font-weight: bold;
}

#sign-in > input {
  width: 200px;
}

#submit {
  width: 150px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #fcbf49;
  border: 3px solid #fcbf49;
  border-radius: 3px;
  font-weight: bold;
  letter-spacing: 0.5px;
  
}

#password-toggle[type="checkbox"] {
  display: flex;
  position: absolute;
  top: 110px;
  right: 65px;
  max-width: 30px;
  max-height: 30px;
  width: 21px;
  height: 21px;
  z-index: 5;
  color: red;
  accent-color: #fcbf49;
}
