body {
  margin: auto;
  max-width: 500px;
  font-family: arial;
  text-align: center;
  color: #f4f4f4;
  background-color: #1D1D21;
}

#logo {
  margin: auto;
  display: block;
  width: 100%;
  position: relative;
  align-items: center;
  }

h1 {
  font-size: 3em;
  margin-top: -20px;
  color: #efd297;
}

.card-img {
  width: 100px;
  margin: auto;
  align-items: center;
}
