@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

:root {
  --green: #758242;
  --white: #fff;
  --black: #2c2b30;
  --light-grey: #dee2e6;
  --gold: #ffc300;
  --bold-gold: #EBB02D;
  --grapefruit: #d96846;
  --red-dot: #e33051;
  --ivory: #ffffe3;
  --ivory-border: #ededce;
  --p-red: #FFADAD;
  --p-orange: #FFD6A5;
  --p-yellow: #FDFFB6;
  --p-green: #d5e8e4;
  --p-blue: #D9EDF8;
  --p-purple: #DEDAF4;
  color-scheme: light dark;
}

body {
  font-family: 'Source Sans Pro';
  background: var(--black);
  color: var(--white);
  margin: 0;
  padding: 0;
}

#curr-hand-display {
  margin: auto;
  max-width: 400px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#scores-box, #curr-round-counter {
  margin: auto;
  text-align: center;
  margin-bottom: 5px;
  font-size: 1.2em;
  margin: 10px 0px 15px 0px;
}

h1, h2 {
  margin: auto;
  text-align: center;
  padding-bottom: 1px;
}

h2 {
  background-color: var(--green);
  color: #fff;
}

#current-score-total {
  margin-top: 20px;
}

#roll-dice, #start, .score-option {
  margin: auto;
  margin-top: 20px;
  display: flex;
  width: 120px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--grapefruit);
  background-color: var(--white);
  font-weight: bold;
}

#choose-score-option {
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 400px;
}

#choose-score-option > button {
  border: 3px solid var(--bold-gold);
}

.score-option:hover {
  transform: scale(1.05);
}

#scores-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  border: 5px solid var(--light-grey);
  border-radius: 8px;
  width: 400px;
  height: 260px;
  margin-bottom: 20px;
  margin-top: 30px;
  color: var(--black);
  background-color: var(--white);
  font-weight: bold;
}

#upper-section-boxes {
  border-right: 5px solid var(--light-grey);
}

#upper-section-boxes > #sixes {
  border-bottom: 2px solid var(--green);
}

#upper-section-boxes > .any-category, #lower-section-boxes > div {
  border-top: 2px solid var(--green);
  height: 26px;
  text-align: center;
  justify-content: center;
}

.player-dice {
  margin: auto;
  max-width: 60px;
  max-height: 60px;
  border: 1px solid var(--ivory-border);
  border-radius: 4px;
  margin-bottom: 15px;
  background-color: var(--ivory);
  color: var(--black);
  font-weight: bold;
  font-size: 1.2em;
}

#sig {
  color: var(--light-grey);
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.6em;
  letter-spacing: 0.25em;
  margin-top: 5px;
  height: 40px;
  font-size: 0.7em;
}

#hidden {
  display: none;
}

.dice {
  border-radius: 8px;
  margin: 2px;
}

.dice-face-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.dice-face-1 > span {
  background-color: #e33051;
  box-shadow: inset 0 3px #e33051, inset 0 -3px #e33051;
}

.dice-face-2 {
  display: flex;
  justify-content: space-between;
  width: 50px;
  height: 50px;
}

.dice-face-2 .dot:nth-of-type(2) {
  align-self: flex-end;
}

.dice-face-3 {
  display: flex;
  justify-content: space-between;
  width: 50px;
  height: 50px;
}
  
.dice-face-3 .dot:nth-of-type(2) {
  align-self: center;
}

.dice-face-3 .dot:nth-of-type(3) {
  align-self: flex-end;
}

.dice-face-4, .dice-face-6 {
  display: flex;
  justify-content: space-between;
  width: 50px;
  height: 50px;
}

.dice-face-4 .column, .dice-face-6 .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dice-face-5 {
  display: flex;
  justify-content: space-between;
  width: 50px;
  height: 50px;
}
  
.dice-face-5 .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  
.dice-face-5 .column:nth-of-type(2) {
  justify-content: center;
}

.dot {
  margin: auto;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 3px;
  background-color: var(--white);
  box-shadow: inset 0 3px #f5f5f5, inset 0 -3px #fofofo;
  align-items: center;
  /*mix-blend-mode: difference;
  background-color: light-dark(var(--white), var(--black))*/
}

.player-dice["background-color: rbg(255, 255, 227)"] > .dot {
  background-color: #000;
  box-shadow: inset 0 3px #000, inset 0 -3px #000;
}
