@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

:root {
  --green: #758242;
  --white: #FFFFFF;
  --black: #2c2b30;
  --light-grey: #dee2e6;
  --gold: #ffc300;
  --bold-gold: #EBB02D;
  --grapefruit: #d96846;
  --red-dot: #e33051;
  --ivory: #ffffe3;
  --ivory-border: #ededce;
  --p-pink: #FFBDDA;
  --p-red: #FF9F8C/*#FFADAD*/;
  --p-orange: #FFD493/*#FFD6A5*/;
  --p-yellow: #FDFFB6;
  --p-green: #18FFB1/*#d5e8e4*/;
  --p-blue: #9AFFFF/*#D9EDF8*/;
  --p-purple: #A9BCFF/*#DEDAF4*/;
  color-scheme: light dark;
}

body {
  font-family: 'Source Sans Pro';
  background: var(--black);
  color: var(--white);
  margin: 0;
  padding: 0;
}

#curr-hand-display {
  margin: auto;
  max-width: 400px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#scores-box, #curr-round-counter {
  margin: auto;
  text-align: center;
  margin-bottom: 5px;
  font-size: 1.2em;
  margin: 10px 0px 15px 0px;
}

h1, h2 {
  margin: auto;
  text-align: center;
  padding-bottom: 1px;
}

h2 {
  background-color: var(--green);
  color: #fff;
}

#current-score-total {
  margin-top: 20px;
}

#roll-dice, #start, .score-option {
  margin: auto;
  margin-top: 20px;
  display: flex;
  width: 120px;
  height: 30px;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--grapefruit);
  background-color: var(--white);
  font-weight: bold;
}

#choose-score-option {
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 400px;
}

#choose-score-option > button {
  border: 3px solid var(--bold-gold);
}

.score-option:hover {
  transform: scale(1.05);
}

#scores-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  border: 5px solid var(--light-grey);
  border-radius: 8px;
  width: 400px;
  height: 260px;
  margin-bottom: 20px;
  margin-top: 30px;
  color: var(--black);
  background-color: var(--white);
  font-weight: bold;
}

#upper-section-boxes {
  border-right: 5px solid var(--light-grey);
}

#upper-section-boxes > #sixes {
  border-bottom: 2px solid var(--green);
}

#upper-section-boxes > .any-category, #lower-section-boxes > div {
  border-top: 2px solid var(--green);
  height: 26px;
  text-align: center;
  justify-content: center;
}

.player-dice {
  margin: auto;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 1.2em;
}

.dice {
  border-radius: 8px;
  margin: 2px;
}

.dice-face-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.red-one {
  background-color: #e33051;
  width: 11px;
  height: 11px;
  box-shadow: inset 0 3px #e33051, inset 0 -3px #e33051;
}
.red-shadow {
  background-color: #e33051;
  box-shadow: inset 0 3px #e33051, inset 0 -3px #e33051;
}

.dice-face-2 {
  display: flex;
  justify-content: space-between;
  width: 50px;
  height: 50px;
}

.dice-face-2 .dot, .dice-face-2 .dot-dark {
  margin: 7px;
}

.dice-face-2 .dot:nth-of-type(2), .dice-face-2 .dot-dark:nth-of-type(2) {
  align-self: flex-end;
}

.dice-face-3 {
  display: flex;
  justify-content: space-between;
  width: 50px;
  height: 50px;
}
 
.dice-face-3 .dot:nth-of-type(1), .dice-face-3 .dot-dark:nth-of-type(1) {
  margin: 5px 0px 0px 5px;
}

.dice-face-3 .dot:nth-of-type(2), .dice-face-3 .dot-dark:nth-of-type(2) {
  align-self: center;
  margin: 0px;
}

.dice-face-3 .dot:nth-of-type(3), .dice-face-3 .dot-dark:nth-of-type(3) {
  align-self: flex-end;
  margin: 0px 5px 5px 0px;
}

.dice-face-4, .dice-face-6 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  width: 50px;
  height: 50px;
}

.dice-face-6 > span {
  justify-content: center;
  width: 10px;
  grid-columns: 1 / 2;
  grid-rows: 1 / 3;
  margin: 3px 5px 3px 5px;
}

.dice-face-4 > span {
  justify-content: center;
  width: 10px;
  grid-columns: 1 / 2;
  grid-rows: 1 / 3;
  margin: 8px 6px 5px 6px;
}
.dice-face-5 {
  display: grid;
  justify-content: space-between;
  width: 50px;
  height: 50px;
}

.dice-face-5 > span {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.dice-face-5 > span:nth-of-type(1) {
  display: flex;
  margin: 5px 0px 0px 5px;;
}
  
.dice-face-5 > span:nth-of-type(2) {
  display: flex;
  margin: 5px 0px 0px 20px;
}

.dice-face-5 > span:nth-of-type(3) {
  display: flex;
  margin: 5px 0px 5px 4px;
}

.dice-face-5 > span:nth-of-type(4) {
  display: flex;
  margin: -45px 0px 0px 35px;
}

.dice-face-5 > span:nth-of-type(5) {
  display: flex;
  margin: -15px 0px 0px 35px;
}

.dot {
  margin: auto;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 3px;
  background-color: #fff;
  align-items: center;
}

.dot-dark {
  margin: auto;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 3px;
  background-color: #333;
  align-items: center;
}

.dot {
  margin: auto;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 2px;
  background-color: var(--white);
  box-shadow: inset 0 0.5px #949292, inset 0 -0.5px #6e6e6e, inset -0.5px 0 #6e6e6e;
  align-items: center;
}

.dot-dark {
  margin: auto;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 2px;
  background-color: #331e18;
  box-shadow: inset 0 3px #f5f5f5, inset 0 -3px #fofofo;
  align-items: center;
}

.purple-background {
  background-color: #A9BCFF;
}

.cyan-background {
  background-color: #9AFFFF;
}

.green-background {
  background-color: #18FFB1;
}

.orange-background {
  background-color: #FFD493;
}

.red-background {
  background-color: #FF9F8C;
}

.pink-background {
  background-color: #FFBDDA;
}

.ivory-background {
  background-color: #FFFFE3;
}

.player-dice["background-color: rbg(255, 255, 227)"] > .dot {
  background-color: #000;
  box-shadow: inset 0 3px #000, inset 0 -3px #000;
}

#sig {
  color: var(--light-grey);
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.6em;
  letter-spacing: 0.25em;
  margin-top: 5px;
  height: 40px;
  font-size: 0.7em;
}
