@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

:root {
  --white: #fff;
  --dark-blue: #1b263b;
  --mid-blue: #415a77;
  --light-grey: #dee2e6;
  --gold: #fca311;
  --light-gold: #e2be77;
  --green: #7AC74C;
  --red: #e8401c;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Source Sans Pro';
  background-color: var(--dark-blue);
  height: 800px;
}

h1 {
  margin: auto;
  text-align: center;
  padding: 20px;
  color: var(--dark-blue);
}

h2 {
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
  color: var(--dark-blue);
  font-size: 0.95em;
}

#current-account, #add-product {
  margin: auto;
  text-align: left;
  padding: 20px;
  font-size: 1.1em;
  color: var(--dark-blue);
}

#add-product {
  text-align: center;
}

#curr-amount {
  margin: auto;
  display: inline;
  float: right;
  left: 140px;
}

#wrap {
  margin: auto;
  max-width: 405px;
  width: 405px;
  height: 650px;
  position: relative;
  border: 6px solid var(--light-grey);
  border-radius: 10px;
  background-color: var(--white);
}

#button-options, #transactions-options {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  width: 410px;
}

.initial, .alt-screen {
  height: 60px;
  width: 160px;
  margin: 20px;
  border: none;
  font-size: 1.4em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border-radius: 3px;
  background-color: var(--white);
  color: var(--mid-blue);
}

.initial:hover, .alt-screen:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}

.initial:active, .alt-screen:active {
  background-color: var(--gold);
}

#value-input {
  margin: auto;
  position: relative;
  display: flex;
  width: 220px;
  height: 50px;
  margin-top: 20px;
  font-size: 1.5em;
  text-align: center;
  border: 4px solid var(--light-gold);
  border-radius: 8px;
}

#value-input:focus {
  outline: none;
}

#display {
  margin: auto;
  position: relative;
  text-align: center;
  margin-top: 30px;
  font-size: 1.5em;
  font-weight: bold;
  max-width: 350px;
}

#more-products {
  margin: auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100px;
}

#more-products > button {
  color: var(--white);
  margin: -10px 5px 0px 5px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 4px;
  font-size: 1.1em;
  font-weight: bold;
}

#more-products > button:hover {
  transform: scale(1.05);
}

#yes-product {
  background-color: var(--green);
}

#no-product {
  background-color: var(--red);
}

#sig {
  color: var(--light-grey);
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  justify-content: center;
  font-size: 0.6em;
  letter-spacing: 0.25em;
  margin-top: 730px;
  width: 400px;
  height: 40px;
  font-size: 0.7em;
}
