@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
  font-family: 'Source Sans Pro';
  margin: auto;
  width: 600px;
  background-color: #2c2b30;
}

#graph {
  margin: auto;
  margin-top: 15px;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
}

h1 {
  font-size: 1.6em;
  margin: auto;
  text-align: center;
  color: #fff;
}
